<div class="row d-flex justify-content-center">
    <div class="col-12 mb-5">
        <hero-form></hero-form>
    </div>
    <div class="col-12 mt-5">
        <h2 class="mb-5">Synchroniser la base des cartes avec l'API Altered</h2>
        <button (click)="handleSynchronize()" class="btn btn-primary col-2">Synchroniser</button>
        @if (synchronisationActivee) {
        <h5>Logback de la synchronisation</h5>
        <ul>
            @for (message of synchronisationMessages; track $index) {
                <li>{{ message }}</li>
            }
        </ul>
        }
    </div>
</div>