<div class="container">
  <div class="row">
    <div class="col-6 mb-3">
      <update-user-form (feedbackPanelData)="handleFeedBackForm($event)"></update-user-form>
      <feedback-panel [data]="feedBackData()"></feedback-panel>
    </div>
    <div class="col-6 mt-3">
      <button type="button" class="btn text-light border-secondary delete-button px-4" (click)="onClickDeleteAccount()">
        {{ userManagerLibelle.DELETE_ACCOUNT_BUTTON }}
      </button>
    </div>
  </div>
</div>

@if (deletionAsked()) {
<confirm-deletion-modal
  [deleteModalData]="deleteModalData"
  (closeModal)="onConfirmDeletionModalClose($event)"
>
</confirm-deletion-modal>
}
