.fixed-height {
    height: 85vh;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #0f172a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
  
  border-radius: 6px;
  border: 3px solid var(--scrollbar-color);
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  border-width: 2px;
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); 
}