.container {
    background-color: rgba(38, 126, 163, 0.45);
    border-radius: 0px 10px 10px 10px;
}

.table {
    background-color: #1e293b
}

.initiale-container {
    width: 70px;
    height: 70px;
    font-size: 2rem;
    background: linear-gradient(135deg, #0d6efd 0%, #6610f2 100%);
    box-shadow: 0 0 20px rgba(13, 110, 253, 0.3);
}

.picture-area {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center 30%;
}

.picture-size {
    width: 48px;
}