.translation-centrage {
    transform: translateX(-40px);
}

.cursor-pointer {
    cursor: pointer;
}

.dropend {
  position: relative;
}

.dropdown-menu .dropend .dropdown-menu {
  top: 0;
  left: 100%;       
  margin-top: -1px; 
  margin-left: 0;
}