.navbar {
  border-radius: 10px;
}

.navbar-title-container {
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 5;
}

.logo-size {
  height: 50px;
}

#menuHamburger {
  height: 50vh;
  overflow-y: auto;
}

@media (min-width: 992px) {
  .logo-size {
    height: 80px;
  }
}