.image-corner {
    border-radius: 15px;
}

.center-button {
    min-width: 40px;
    opacity: 1;
}

.fixed-height {
    height: 3.5em;
}

.deck-counter-badge {
    bottom: 8%;
    right: 7.5%;
    z-index: 10;
    width: 20%;
    height: 15%;
    color: white;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}