.delete-button,
.update-button {
    font-size: 20px;
    cursor: pointer;
}

.delete-button:hover,
.update-button:hover{
    font-size: 18px;
}

.delete-button:active,
.update-button:active{
    font-size: 16px;
}