.delete-button,
.update-button {
    font-size: 20px;
    cursor: pointer;
}

.delete-button:hover,
.update-button:hover {
    font-size: 18px;
}

.delete-button:active,
.update-button:active {
    font-size: 16px;
}

.delete-button.disabled,
.update-button.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.delete-button:hover.disabled,
.update-button:hover.disabled,
.delete-button:active.disabled,
.update-button:active.disabled {
    font-size: 20px;
}

.truncate-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}