.bubble-area {
    width: 32px;
    height: 32px;
}

.bubble-size {
    width: 22px;
    height: 22px;
    font-size: 0.75rem;
}

.floor-width {
    min-width: 0;
}

.ajust-font-size {
    font-size: 0.8rem;
}

.custo-padding {
    padding: 3px 2px 3px 2px;
}