/* You can add global styles to this file, and also import other style files */
.background-style {
    background:
        linear-gradient(to bottom left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
        linear-gradient(to bottom left, #E6F4FB, #A7D8F5);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 100vh;
}