<form [formGroup]="loginForm" (ngSubmit)="login()" class="row justify-content-center">
  <div class="col-md-6 ms-3 mt-3">
    <label for="email" class="form-label">{{ authentificationLibelle.INPUT.EMAIL }}</label>
    <input type="email" class="form-control" id="email" formControlName="email" 
    [class.is-invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" />
    <invalid-feedback [formGroup]="loginForm" [controlName]="'email'"></invalid-feedback>
  </div>
  <div class="col-md-6 ms-3 mt-3">
    <label for="password" class="form-label">{{ authentificationLibelle.INPUT.PASSWORD }}</label>
    <input type="password" class="form-control" id="password" formControlName="password" 
    [class.is-invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" />
    <span class="form-text">
      {{ authentificationLibelle.PASSWORD_HELPER }}
    </span>
    <invalid-feedback [formGroup]="loginForm" [controlName]="'password'"></invalid-feedback>
  </div>
  <div class="col-12 col-sm-8 col-lg-10 row justify-content-center">
    <div class="col-6 col-sm-4 mt-4 ms-4">
      <button type="submit" class="btn btn-primary px-4" [disabled]="loginForm.invalid">{{ authentificationLibelle.INPUT.LOGIN_BUTTON }}</button>
    </div>
  </div>
</form>